# PureOS grub.cfg file
set default=0
set timeout=3

if loadfont /boot/grub/fonts/unicode.pf2 ; then
    set gfxmode=auto
    insmod gfxterm
    insmod vbe
    terminal_output gfxterm
fi

menuentry 'PureOS GNU/Linux' {
    insmod ext2
    set root='ahci0,msdos1'
    linux /boot/vmlinuz-5.10.0-23-amd64 root=UUID= ro quiet splash
    initrd /boot/initrd.img-5.10.0-23-amd64
}
